.page-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    .register-page-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
        margin: 0 20px 25px;
        width: 45%;

        .field-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .visibility-btn {
                color: #333;
                border: none;
                padding: 10px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                background: none;

            }
        }

        .checkbox-container {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }

        .register-btn-container {
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }

    .congratulations-page-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        margin: 5% 20px 25px;
        width: 45%;
        gap: 15px
    }

    .registration-successful-text {
        font-size: 1rem;
        font-weight: 500;
    }

    .check-email-text {
        font-size: 1.5rem;
        font-weight: 500;
    }


}