<form [formGroup]="resetForm" (ngSubmit)="resetPassword()" *ngIf="
    !sendingResetPasswordEmailComplete;
    else sendingResetPasswordEmailCompletePage
  ">
  <div class="page-container">
    <div class="reset-password-content">
      <div class="text-container">
        <h1 i18n>Forgot your password?</h1>
        <p i18n>
          Enter your email address below and we'll send you a link to reset your
          password.
        </p>
      </div>
      <div class="form-container">
        <mat-form-field appearance="outline">
          <mat-label i18n>Email</mat-label>
          <input matInput placeholder="Email" i18n-placeholder formControlName="email" required />
          <mat-error>
            <ng-container *ngIf="resetEmail?.errors?.['required']" i18n>Email is required.</ng-container>
            <ng-container *ngIf="resetEmail?.errors?.['email']" i18n>
              Please enter a valid email address.
            </ng-container>
            <ng-container *ngIf="resetEmail?.errors?.['uniqueEmail']" i18n>
              Email must exist.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="register-container">
        <p i18n>No account?</p>
        <a class="register-link" routerLink="/user/register" i18n>Register</a>
      </div>
      <div class="reset-btn-container">
        <button class="btn btn-dark btn-lg" type="submit" [disabled]="!resetForm.valid" i18n>
          Reset Password
        </button>
      </div>
    </div>
  </div>
</form>

<ng-template #sendingResetPasswordEmailCompletePage>
  <div class="d-flex justify-content-center mt-2 page-container">
    <div class="congratulations-page-content">
      <h1 i18n>Congratulations!</h1>
      <p class="check-email-text" i18n>
        Please check your email to reset your password
      </p>
      <a class="btn btn-primary" routerLink="/user/login" i18n>
        Go to login page
      </a>
    </div>
  </div>
</ng-template>