.page-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  width: 100%;

  .reset-password-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
    padding: 20px;
    margin-top: 10vh;
    width: 45%;
    align-items: center;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
      width: 100%;
    }

    .register-container {
      display: flex;
      flex-direction: row;
      gap: 5px;
      justify-content: flex-start;
      width: 100%;

      .register-link {
        text-decoration: none;
      }
    }

    .reset-btn-container {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }
}

.congratulations-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  margin: 5% 20px 25px;
  width: 45%;
  gap: 15px;
}

.check-email-text {
  font-size: 1.5rem;
  font-weight: 500;
}
