<form [formGroup]="resetPasswordForm" (submit)="resetPassword()" autocomplete="off">
  <div class="page-container">
    <div class="reset-password-page-content">
      <h2 i18n>Reset Password</h2>
      <div class="field-container">
        <mat-form-field>
          <mat-label i18n>Password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" i18n-placeholder
            formControlName="password" required />
          <button tabindex="-1" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
            class="visibility-btn">
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error>
            <ng-container *ngIf="password?.errors?.['required']" i18n>Password is required.</ng-container>
            <ng-container *ngIf="password?.errors?.['minlength']" i18n>
              Password must be at least
              {{ password?.errors?.['minlength'].requiredLength }} characters
              long.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-container">
        <mat-form-field>
          <mat-label i18n>Confirm Password</mat-label>
          <input matInput [type]="hideConfirmPassword ? 'password' : 'text'" placeholder="Confirm Password"
            i18n-placeholder formControlName="confirmPassword" required />
          <button tabindex="-1" type="button" mat-icon-button matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword" class="visibility-btn">
            <mat-icon>{{
              hideConfirmPassword ? "visibility_off" : "visibility"
              }}</mat-icon>
          </button>
          <mat-error>
            <ng-container *ngIf="confirmPassword?.errors?.['passwordMismatch']" i18n>
              Passwords do not match.
            </ng-container>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="register-btn-container">
        <button class="btn btn-dark btn-lg" type="submit" [disabled]="!resetPasswordForm.valid" i18n>
          Reset password
        </button>
      </div>
    </div>
  </div>
</form>